{% extends 'base.html' %}
{% load static %}
{% block meta %}
<style>
    .indent {
        padding-left: 142px; /* Adjust the indentation as needed */
    }
</style>
{% endblock meta %}

{% block content %}
<div class = "edit_password d-flex justify-content-center flex-row">
    <div class="card-container">
    
    <h1 class="d-flex justify-content-center flex-row">Formulir Registrasi</h1>  

    <form method="POST">  
        {% csrf_token %}  
        <table class="d-flex justify-content-center">  
            {{ form.as_table }}  
        </table>  
        <table class="d-flex justify-content-center">
            <tr>
                <td><button type="submit" class="btn btn-success" name="submit" value="to_save">Simpan</button></td>
            <tr>
        </table>
    </form>
    <form method="POST">  
        {% csrf_token %}  
        <table class="d-flex justify-content-center">
            <tr>  
                <td class="d-flex justify-content-center flex-row"><button type="submit" class="btn btn-warning" name="submit" value="to_cancel">Cancel</button></td>  
            </tr>  
        </table>  
    </form>

    {% if messages %}  
        <ul class="d-flex justify-content-center flex-row">   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</div>  
{% endblock content %}