{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = "home d-flex justify-content-center flex-row">
    <div class="card-container">
        
        <h1 class="text-center">Login to Continue</h1>  

            {% comment %} name = identifier, value = label {% endcomment %}
        <form method="POST">
            {% csrf_token %}
            <table class="d-flex justify-content-center">  
                {{ form.as_table }}  
            </table>
            <table class="d-flex justify-content-center">
                <tr>
                    <td><button type="submit" class="btn btn-success" name="register_or_login" value="to_login">Login</button></td>  
                    <td><button type="submit" class="btn btn-warning" name="register_or_login" value="to_register">Registrasi</button></td>
                <tr>
            </table>
                {% comment %} <tr>
                    <td></td>
                    <td><button type="submit" name="register_or_login" value="to_logout">Logout</button></td>
                </tr> {% endcomment %}
        </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}

        {% comment %} <h2 class="text-center">Now Logged In: {{ logged_in }}</h2> {% endcomment %}
        {% comment %} <h2>Other Users: {{ user_list }}</h2> {% endcomment %}
    </div>
</div>  

{% endblock content %}