<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
    .title {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }
</style>

<body>
    {% if exist %}
    <h1 class="title">Feedbacks</h1>

    <div id="container" class="grid grid-cols-3 gap-4 mx-8 mb-6">
        {% for data in feedbacks %}
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Feedback</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Feedback: <span>{{data.message}}</span></p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="title">Belum ada feedback</h1>
    <div class="flex justify-center">
    </div>
    {% endif %}
</body>
</html>
