{% extends 'base.html' %}
{% load static %}
{% block meta %}
<head>
    <title>Keranjang dari {{user}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin: 8px;
        width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    </style>
    
    <script>
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        // Delayed notification display after 1 second
        setTimeout(function() {
        var messages = document.getElementsByClassName('messages');
        if (messages.length > 0) {
            messages[0].style.display = 'block';

            // Hide the messages after 1 second
            setTimeout(function() {
                messages[0].style.display = 'none';
            }, 1000);
        }
    }, 1000);
    </script>
</head>
{% endblock meta %}
{% block content %}
<body>
    <div class="text-center">
        <h1>Keranjang dari {{user.name}}</h1>
    </div>
    <div class="d-flex justify-content-center flex-row">
        {% for item in items %}
        <div class="d-flex justify-content-center">
            <div class="card">
                <h3>{{ item.nama_item }}</h3>
                <p><strong>Harga:</strong> {{ item.harga }}</p>
                <p><strong>Kuantitas:</strong> {{ item.kuantitas }}</p>
                <div class="d-flex justify-content-center flex-col ">
                    <form action="{% url 'order:change-item-quantity' item.ID_item -1 %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">-</button>
                    </form>                
                    <form action="{% url 'order:change-item-quantity' item.ID_item 1 %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">+</button>
                    </form>
                </div>
                <div class="text-center mt-2">
                    <a href="/order/delete-item/{{ item.ID_item }}" class="btn btn-warning">Hapus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <h2>Total Pesanan: {{total}}</h2>
    </div>
    <div class="d-flex justify-content-center">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="text-center mt-2">
        <a href="/order/" class="btn btn-success">Tambah Pesanan</a>
    </div>
</body>
{% endblock content %}
